body {
    margin-right: 10%;
    margin-left: 10%;
    background-color: beige;
}

#content {
    max-width: 500px;
    margin: auto;
    font-family: 'Roboto',
        sans-serif;

}

#mybutton {
    display: flex;
    justify-content: center;

}

p {
    font-size: 20px;
    padding: 50px;
}